@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');

*{
    font-family: 'Handlee', cursive;
    margin: 0px;
}

body{
    background: rgba(255, 255, 255, 0.7) url("./Assets/Img/Bg_cake.webp");
    background-blend-mode: saturation;
}